{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadText">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <p class="singleHeadDesc">{{.Params.description}}</p>
      <div class="singleHeadDetail">
        <img
          src="{{.Params.avatar}}"
          alt=""
          class="singleAvatar"
          loading="lazy"
        />
        <span>
          {{ range (.GetTerms "authors") }}
          <a href="{{.Permalink}}">{{.Name}}</a>
          {{ end }}
        </span>
        <span>
          {{ range (.GetTerms "categories") }}
          <a href="{{.Permalink}}" class="singleCategory">{{.Name}}</a>
          {{ end }}
        </span>
      </div>
      <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    <img src="{{.Params.imageBig}}" alt="{{.Title}}" class="singleHeadImage" />
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{.Content}}</div>
    {{/*  <div class="singleRightBar">{{ partial "rightBar" . }}</div>  */}}
  </div>
</div>
{{ end }}
